@model Ficha.Models.ClasseModel

@{
    ViewBag.Title = "Details";
}
<style>
    body {
        background-color: #272121;
        color: white;
    }

    .btn-dark, btn, btn-large, .btn-dark:active .btn-dark:visited {
        background-color: #ECDEDE;
        color: black;
        border-color: white;
    }

        .btn-dark:hover {
            background-color: #272121;
            color: #ECDEDE;
            border-color: white;
        }
</style>

<h2>Details</h2>

<div>
    <h4>Classe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Classe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-dark btn-large" }) |
    <a href="/classe/index" class="btn btn-dark">Voltar</a>
</p>
<footer class="navbar-fixed-bottom"><h4><strong>Alunos : Gustavo Baco Manciope e Samuel Esteves Silva</strong></h4></footer>