@model Ficha.Models.JogadorModel

@{
    ViewBag.Title = "Deletar";
}
<style>
    body {
        background-color: #272121;
        color: white;
    }

    .btn-dark, btn, btn-large, .btn-dark:active .btn-dark:visited {
        background-color: #ECDEDE;
        color: black;
        border-color: white;
    }

        .btn-dark:hover {
            background-color: #272121;
            color: #ECDEDE;
            border-color: white;
        }
</style>
<h2>Deletar</h2>

<h3>Tem certeza que deseja deletar esse registro?</h3>
<div>
    <h4>Jogador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personagem)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Deletar" class="btn btn-dark" /> |
    @*@Html.ActionLink("Voltar", "Index")*@
    <a href="/jogador/index" class="btn btn-dark">Voltar</a>
</div>
    }
</div>
<footer class="navbar-fixed-bottom"><h4><strong>Alunos : Gustavo Baco Manciope e Samuel Esteves Silva</strong></h4></footer>