@model Ficha.Models.JogadorModel

@{
    ViewBag.Title = "Detalhes";
}
<style>
    body {
        background-color: #272121;
        color: white;
    }

    .btn-primary, btn, btn-large, .btn-primary:active .btn-primary:visited {
        background-color: #ECDEDE;
        color: black;
        border-color: white;
    }

        .btn-primary:hover {
            background-color: #272121;
            color: #ECDEDE;
            border-color: white;
        }
</style>
<h2>Detalhes</h2>

<div>
    <h4>Jogador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personagem)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary btn-large" }) |
    @Html.ActionLink("Voltar", "Index")
</p>
<footer class="navbar-fixed-bottom"><h4><strong>Alunos : Gustavo Baco Manciope e Samuel Esteves Silva</strong></h4></footer>