@model IEnumerable<Ficha.Models.JogadorModel>

@{
    ViewBag.Title = "Criação Ficha Jogador";
}
                      
                          <h2>Criação Ficha de Jogador</h2>

                          <p>
                              @Html.ActionLink("Novo Jogador", "Create")
                          </p>
                          <table class="table">
                              <tr>
                                  <th>
                                      @Html.DisplayNameFor(model => model.Nome)
                                  </th>
                                  <th>
                                      @Html.DisplayNameFor(model => model.Celular)
                                  </th>
                                  <th>
                                      @Html.DisplayNameFor(model => model.Emai)
                                  </th>
                                  <th>
                                      @Html.DisplayNameFor(model => model.Personagem)
                                  </th>
                                  <th></th>
                              </tr>

                              @foreach (var item in Model) {
                              <tr>
                                  <td>
                                      @Html.DisplayFor(modelItem => item.Nome)
                                  </td>
                                  <td>
                                      @Html.DisplayFor(modelItem => item.Celular)
                                  </td>
                                  <td>
                                      @Html.DisplayFor(modelItem => item.Emai)
                                  </td>
                                  <td>
                                      @Html.DisplayFor(modelItem => item.Personagem)
                                  </td>
                                  <td>
                                      @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-info btn-large" })|
                                      @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-large" })|
                                      @Html.ActionLink("Deletar", "Delete", new { id = item.Id }, new { @class = "btn btn-info btn-large" })
                                  </td>
                              </tr>
}

                          </table>
                      
