@model IEnumerable<Ficha.Models.JogadorModel>

@{
    ViewBag.Title = "Criação Ficha Jogador";
}
<style>
    body {
        background-color: #272121;
        color: white;
    }

    .btn-primary, btn, btn-large, .btn-primary:active, .btn-primary:visited {
        background-color: #ECDEDE;
        color: black;
        border-color: white;
    }

        .btn-primary:hover {
            background-color: #272121;
            color: #ECDEDE;
            border-color: white;
        }
</style>
                          <h2>Criação Ficha de Jogador</h2>

                          <p>
                              @Html.ActionLink("Novo Jogador", "Create")
                          </p>
                          <table class="table">
                              <tr>
                                  <th>
                                      @Html.DisplayNameFor(model => model.Nome)
                                  </th>
                                  <th>
                                      @Html.DisplayNameFor(model => model.Celular)
                                  </th>
                                  <th>
                                      @Html.DisplayNameFor(model => model.Email)
                                  </th>
                                  <th>
                                      @Html.DisplayNameFor(model => model.Personagem)
                                  </th>
                                  <th></th>
                              </tr>

                              @foreach (var item in Model) {
                              <tr>
                                  <td>
                                      @Html.DisplayFor(modelItem => item.Nome)
                                  </td>
                                  <td>
                                      @Html.DisplayFor(modelItem => item.Celular)
                                  </td>
                                  <td>
                                      @Html.DisplayFor(modelItem => item.Email)
                                  </td>
                                  <td>
                                      @Html.DisplayFor(modelItem => item.Personagem)
                                  </td>
                                  <td>
                                      @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-large" })|
                                      @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-large" })|
                                      @Html.ActionLink("Deletar", "Delete", new { id = item.Id }, new { @class = "btn btn-primary btn-large" })
                                  </td>
                              </tr>
}

                          </table>
                      
                          <footer class="navbar-fixed-bottom"><h4><strong>Alunos : Gustavo Baco Manciope e Samuel Esteves Silva</strong></h4></footer>